<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="startDate" value="2017.06.21"/>
    <add key="pastPeriod" value="356"/>
    <add key="planningHorizon" value="120"/>
    <!--<add key="startDate" value="2011.06.14"/>
    <add key="pastPeriod" value="337"/>
    <add key="planningHorizon" value="60"/>-->
    <!--<add key="startDate" value="2011.08.11"/>
    <add key="pastPeriod" value="336"/>
    <add key="planningHorizon" value="59"/>-->
    <add key="orders" value="orders.csv"/>
    <add key="inflation" value="inflation.csv"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>